# Estadística Aplicada

### Sesión 12 - 28 septiembre

Oscar Gabriel Martínez Rodríguez - 1062702 - G43

In [2]:
## librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
##
plt.rcParams['figure.figsize'] = (10,6)

In [5]:
pasajeros = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/airline_passengers.csv')
pasajeros.head(5)

     Month  Thousands of Passengers
0  1949-01                      112
1  1949-02                      118
2  1949-03                      132
3  1949-04                      129
4  1949-05                      121

In [6]:
## llevar a excel
pasajeros.to_excel('pasajeros.xlsx', index = False)

In [7]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (0.2.27)
Requirement already satisfied: pandas>=1.3.0 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.25.2)
Requirement already satisfied: requests>=2.31 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in c:\users\dell\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import yfinance as yf

In [12]:
amazon = yf.download('AMZN',
                     start = '2016-01-01',
                     end = '2022-12-31',
                     progress= False)

In [13]:
amazon.head(5)

                 Open       High        Low      Close  Adj Close     Volume
Date
2016-01-04  32.814499  32.886002  31.375500  31.849501  31.849501  186290000
2016-01-05  32.342999  32.345501  31.382500  31.689501  31.689501  116452000
2016-01-06  31.100000  31.989500  31.015499  31.632500  31.632500  106584000
2016-01-07  31.090000  31.500000  30.260500  30.396999  30.396999  141498000
2016-01-08  30.983000  31.207001  30.299999  30.352501  30.352501  110258000

In [15]:
##elegimos el precio de cierre
amazon = amazon[['Adj Close']]
amazon

            Adj Close
Date
2016-01-04  31.849501
2016-01-05  31.689501
2016-01-06  31.632500
2016-01-07  30.396999
2016-01-08  30.352501
...               ...
2022-12-23  85.250000
2022-12-27  83.040001
2022-12-28  81.820000
2022-12-29  84.180000
2022-12-30  84.000000

[1762 rows x 1 columns]

In [16]:
amazon.to_excel('amazon.xlsx')